@charset "utf-8";

body {
  background: #fb8500;
}

.tableStyle {
  border: 9px solid #ffb703;
  background-color: #8ecae6;
  width: 70%;
  margin-left: 15%;
  margin-right: 15%;
  text-align: left;
  font-size: 20px;
}

caption {
  color: #ffffff;
  font-size: 30px;
}
thead {
  background-color: #219ebc;
}

tr:nth-child(even) {
  background: #d0e4f5;
}

tfoot {
  text-align: center;
  color: #ffffff;
  background-color: #023047;
}

a:link {
  color: rgb(216, 106, 62);
}

a:visited {
  color: #433d43;
}

a:hover {
  color:rgb(69, 60, 60);
}

a:active {
  color: magenta;
}
