form {
    padding: 20px;
    border-radius: 12px;
    display: inline-block;
    text-align: left;
    margin: 12px;

    border: 0.009px #fff solid;

    & input,
    & textarea {
        margin-bottom: 12px;
        margin-top: 3px;
        border-radius: 6px;
        border: none;
        padding: 3px;
        background-color: var(--darkerBgColor);

        filter: drop-shadow(#fff 0 0 1px);
    }
}

textarea {
    max-width: 80vw;
    height: 100px;
    width: 300px;
}

img {
    max-height: 400px;
    border-radius: 24px;
    padding: 12px;
    display: block;
    margin: 12px;

    max-width: 80vw;
    border: 0.009px #fff solid;
}

.center-content {
    justify-content: space-evenly;
    align-items: center;
}
